a.active {
    text-decoration: none;
}
.NotFoundContainer {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -o-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color: #23272a;
    position: absolute;
    top: 0;
    left: 0;
}

.NotFoundContainer img {
    width: 450px;
}

.NotFoundContainer p {
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

@media (max-width: 640px) {
    .NotFoundContainer img {
        width: 300px;
    }

    .NotFoundContainer p {
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 25px;
        text-align: center;
    }
}

.button.brand.default {
    background-color: #62d3f5
}

.button.brand.default:hover {
    background-color: #32c5f2
}

.button.brand.default:focus {
    background-color: #0eb1e2
}

.button.large {
    height: 60px
}

.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: open sans, Helvetica, arial, sans-serif;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
    min-height: 32px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-radius: 3px;
    border: 0;
    font-size: 14px;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px 30px;
    color: #fff;
    -webkit-transition: border 180ms ease-out, background 180ms ease-out;
    -moz-transition: border 180ms ease-out, background 180ms ease-out;
    -o-transition: border 180ms ease-out, background 180ms ease-out;
    -ms-transition: border 180ms ease-out, background 180ms ease-out;
    transition: border 180ms ease-out, background 180ms ease-out;
    color: #fff;
    -webkit-transition: border 180ms ease-out, background 180ms ease-out;
    -moz-transition: border 180ms ease-out, background 180ms ease-out;
    -o-transition: border 180ms ease-out, background 180ms ease-out;
    -ms-transition: border 180ms ease-out, background 180ms ease-out;
    transition: border 180ms ease-out, background 180ms ease-out;
}
